<!DOCTYPE html>
<html lang="en">
<head>
    <%- head %>
    <style>
        html {
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden
        }
    </style>
</head>
<body>
    <iframe
            id="iframe_content"
            src="<%- target %>"
            height="100%"
            width="100%"
            style="overflow:hidden;"
            allowfullscreen="true"
            scrolling="no"
            frameborder="0">

    </iframe>
    <script>
        if (<%- countdown %> > 0){
            setTimeout(function () {
            window.location.replace("<%- target %>")
            }, <%- countdown %>)
        }
    </script>
</body>
</html>